@import "tippy.js/dist/tippy.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* no classes in base layer */
@layer base {
  #__next,
  main,
  html,
  body {
    @apply h-full w-full;
  }

  /* util */
  .disabled,
  :disabled,
  .disabled *,
  :disabled * {
    opacity: 0.65 !important;
    pointer-events: none !important;
    user-select: none;
  }

  /* Typography */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply font-bold mt-0 mb-2 leading-tight;
  }

  h1 {
    @apply text-4xl underline-pink-500;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }

  p {
    @apply text-left text-base;
  }
}

@layer components {
  .text-divider {
    display: flex;
    align-items: center;
    --text-divider-gap: 1rem;
    width: 100%;
  }
  .text-divider::before,
  .text-divider::after {
    content: "";
    height: 1px;
    background-color: #333;
    flex-grow: 1;
  }
  .text-divider::before {
    margin-right: var(--text-divider-gap);
  }
  .text-divider::after {
    margin-left: var(--text-divider-gap);
  }

  .btn.btn-pink {
    @apply bg-pink-500 text-black px-6 py-2 rounded font-medium hover:bg-pink-600;
  }
}

@layer utilities {
  .underline-pink-500 {
    text-decoration: underline #ec4899;
  }

  .overflow-style-hidden::-webkit-scrollbar {
    display: none !important;
  }
  .overflow-style-hidden {
    -ms-overflow-style: none !important;
    scrollbar-width: none !importants;
  }
}
